<header>
  <div class="header-logo">
    <a href="/">Tweet</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">About Tweet</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>About Tweet</h2>
  <p>
    It is SNS service.
    I contribute the present condition and a mutter and can communicate with other users happily.
  </p>
</div>
