<div class="about-main">
  <h2>About Tweet</h2>
    <p>
      It is SNS service.
      I contribute the present condition and a mutter and can communicate with other users happily.
    </p>
    <img class="about-img" src="pic-1.jpg">
</div>
