<header>
  <div class="header-logo">
    <a href="/">Tweet</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">About Tweet</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>The world is connected by the mutter</h2>
    <p>I will murmur the present feeling!</p>
  </div>
</div>
